{% extends 'base/base.html' %}
{% load static %}

{% block header %}
<title>Swagbets Markets</title>
{% endblock %}

{% block content %}
{% include 'base/navbar.html' with active='markets' %}

<br>
<h3 class="text-center"><b>PROPOSITION MARKETS</b></h3>
<br><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-xs-5">Proposition</th>
            <th class="col-xs-2">Leader</th>
            <th class="col-xs-2">Leader Price</th>
            <th class="col-xs-2">Resolves</th>
            <th class="col-xs-1"></th>
        </tr>
    </thead>
    <tbody>
        {% for p in propositions %}
        <tr>
            <td>
                <h4>[{{ p.code }}]</h4>
                <small>{{ p.description }}</small>
            </td>
            <td>
                <h4>[{{ p.leader.outcome.code }}]</h4>
                <p>{{ p.leader.outcome.description }}</p>
            </td>
            <td><h4 class="text-info lead">{{ p.leader.price }}&#162;</h4></td>
            {% if p.active %}
            <td><h4><small>{{ p.resolves }}</small></h4></td>
            {% else %}
            <td><h4><small class="text-success">RESOLVED</small></h4></td>
            {% endif %}
            <td><a href="{{ p.code }}"><br>
                <button type="button" class="btn btn-primary btn-sm">View</button>
            </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not show_completed %}
<div class="text-center">
    <a href="/markets?show-completed"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-eye-open"></span>
        Show Completed Propositions
    </button></a>
</div>
{% else %}
<div class="text-center">
    <a href="/markets"><button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-eye-close"></span>
        Hide Completed Propositions
    </button></a>
</div>
{% endif %}

{% endblock %}