input[type=number] {
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 2px solid lightgray;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: none;
}

input[type=text], input[type=password] {
    width: 265px;
    height: 35px;
}

.showcase-panel {
}

.login-panel {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding-left: 20px;
    padding-right: 20px;
}

.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar {
    border-radius: 0px;
}

img {
    border-radius: 5px;
}