{% extends 'base/base.html' %}
{% load static %}

{% block header %}
<title>Swagbets</title>
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}

<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="text-center col-md-8">
        <h1 class="text-center"><b>Welcome to Swagbets,</b></h1>
        <h4 class="text-center text-muted">a platform for speculating on future events with market-based odds.</h4>
        <br>
        <img src="{% static 'base/img/stock.png' %}" width="250px" height="250px" />
        <br><br>
        <p class="text-center text-muted">
            <br>
            Tokens are traded on various outcomes, with prices serving to aggregate relevant knowledge
            and insights distributed among many traders with disparate information and experience,
            allowing the best possible predictions to emerge regarding uncertain future events.
            <br><br>
            Swagbets is a <i>prediction market</i>, which
            serve as interesting demonstrations of market price discovery, and are
            often to said to outperform polls and pundits in predictive accuracy.
        </p>
        <br><br>
        <a href="/markets"><button type="button" class="btn btn-primary btn-lg btn-block">View Markets</button></a>
        <br><br>
        <a href="https://github.com/SgtSwagrid/swagbets">
            <h5><img src="{% static 'base/img/github-logo.png' %}" width="30px" height="30px" />&ensp;
                Swagbets source code on GitHub
            </h5>
        </a>
        <a href="https://www.aeaweb.org/articles?id=10.1257/0895330041371321">
            <h5><img src="{% static 'base/img/aea-logo.png' %}" width="30px" height="30px" />&ensp;
                AEA article on prediction markets
            </h5>
        </a>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}